* {
  font-family: vintage-deco, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: xx-large;
}

.about-container {
  align-content: space-around;
  height: 100vh;
  background-color: rgb(88, 124, 95);
}

.about-txt {
  text-align: left;
  padding: 30px;
  color: white;
  font-size: 1.5em;
}


/* INTRODUCTION */

.name {
  line-height: 2em;
  font-size: 3em;
  font-size: xx-large;
  text-align: center;
  letter-spacing: .1em;
  font-size: .8em;

}

.intro {
  height: 100vh;
  margin: 0;
  color: white;
  background-color: rgb(212, 175, 51);
  text-align: center;
  letter-spacing: .1em;
  font-size: 3em;

}

.self {
  height: 50vh;
  /* width: 30vw; */
  border-radius: 20em;
}

.tag-line {
  padding-top: 40px;
}
